name: "CI"

on:
  push:
    branches:
      - '**'
  # workflow can be called directly
  workflow_call:

jobs:
  Test:
    name: "Test"
    strategy:
      matrix:
        base-image: ['jammy', 'noble', 'bookworm', 'trixie']
        php-version: ['8.1', '8.2', '8.3', '8.4', '8.5']
        target: ['cli', 'fpm', 'apache']
        include:
        - base-image: 'alpine322'
          php-version: '8.2'
        - base-image: 'alpine322'
          php-version: '8.3'
        - base-image: 'alpine322'
          php-version: '8.4'
        - base-image: 'alpine323'
          php-version: '8.5'
        exclude:
        - base-image: 'noble'
          php-version: '8.1'
        - base-image: 'trixie'
          php-version: '8.1'
        - base-image: 'jammy'
          php-version: '8.5'
        - base-image: 'bookworm'
          php-version: '8.5'
      fail-fast: true
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Build testing Docker image
      uses: docker/build-push-action@v5
      with:
        push: false
        file: ./${{ matrix.base-image }}/Dockerfile
        context: ./${{ matrix.base-image }}/
        target: ${{ matrix.target }}
        tags: testing
        build-args: PHP_VERSION=${{ matrix.php-version }}
    - name: Dump installed PHP version
      run: echo "PHP_REAL_VERSION=$(docker run testing -v | grep -Eo -m 1 'PHP [7-8]\.[0-9]+\.[0-9]+' | grep -Eo '[0-9]+\.[0-9]+\.[0-9]+')" >> $GITHUB_ENV
    - name: Check PHP version
      run: echo "${{ env.PHP_REAL_VERSION }}" | grep "${{ matrix.php-version }}"
    - name: Perform image tests
      run: IMAGE_CI_TAG=testing ./scripts/test-image.sh
    - name: "Check FPM"
      if: ${{ 'fpm' == matrix.target }}
      run: |
        docker run testing find /usr/bin/php-fpm
        docker run testing find /usr/bin/cgi-fcgi
        docker run testing /usr/bin/php-fpm --daemonize
    - name: "Check CLI"
      if: ${{ 'cli' == matrix.target }}
      run: docker run testing | grep "Interactive"
    - name: "Check Apache"
      if: ${{ 'apache' == matrix.target }}
      run: docker run testing apachectl configtest
